html, body, div, span, objet, iframe, h1, h2, h3, h4, h5, h6, p, pre, blockquote, a, code, del, em, font, img, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td{
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-size: 100%;
	font-weight:normal;
	vertical-align: baseline;
	background: transparent;
	text-decoration:none;
	color:#000000;
}

ul li, ol li{ list-style:none; }

input{
	margin: 0px;
	outline: 0px;
}